<div id="osd" class="image-viewer"></div>
<script defer src="{{ '/assets/openseadragon/openseadragon.min.js' | absolute_url }}"></script>

<script>
  $(document).ready(function () {
    var manifestUrl = "{{ include.manifest | absolute_url }}";
    var baseUrl = "{{ '/' | absolute_url }}";
    console.log('Loading manifest from:', manifestUrl);
    console.log('Base URL:', baseUrl);
    
    $.getJSON(manifestUrl, function(data) {
      console.log('Manifest loaded:', data);
      
      // Load info.json to get tile information
      var serviceId = data.sequences[0].canvases[0].images[0].resource.service['@id'];
      if (serviceId.startsWith('/')) {
        serviceId = baseUrl.replace(/\/$/, '') + serviceId;
      }
      var infoUrl = serviceId + '/info.json';
      console.log('Loading info.json from:', infoUrl);
      
      $.getJSON(infoUrl, function(info) {
        console.log('Info.json loaded:', info);
        
        // Create tile sources array
        var tileSources = [];
        
        $.each(data.sequences[0].canvases, function(_k, val) {
          var canvasServiceId = val.images[0].resource.service['@id'];
          if (canvasServiceId.startsWith('/')) {
            canvasServiceId = baseUrl.replace(/\/$/, '') + canvasServiceId;
          }
          var canvasImagePath = canvasServiceId.replace(baseUrl.replace(/\/$/, ''), '');
          
          var thumbnailUrl = val.thumbnail['@id'];
          if (thumbnailUrl && thumbnailUrl.startsWith('/')) {
            thumbnailUrl = baseUrl.replace(/\/$/, '') + thumbnailUrl;
          }
          
          // Use OpenSeadragon's custom tile source format
          tileSources.push({
            type: 'custom',
            height: info.height,
            width: info.width,
            tileSize: 512,
            minLevel: 0,
            maxLevel: 4,
            getTileUrl: function(level, x, y) {
              var tileUrl = canvasImagePath + '/tiles/' + level + '/' + x + '_' + y + '.jpg';
              console.log('Requesting tile:', tileUrl);
              return tileUrl;
            }
          });
        });
        
        console.log('Initializing OpenSeadragon with custom tile sources');
        var viewer = OpenSeadragon({
          id: "osd",
          prefixUrl: "{{ '/assets/openseadragon/images/' | absolute_url }}",
          preserveViewport: true,
          visibilityRatio: 1,
          minZoomLevel: 0.5,
          defaultZoomLevel: 0,
          sequenceMode: tileSources.length > 1,
          showReferenceStrip: tileSources.length > 1,
          showNavigator: true,
          showFullPageControl: true,
          showHomeControl: true,
          showZoomControl: true,
          showRotationControl: true,
          debugMode: true,
          tileSources: tileSources
        });
        
        console.log('OpenSeadragon viewer initialized:', viewer);
      }).fail(function(jqxhr, textStatus, error) {
        console.error('Failed to load info.json:', textStatus, error);
      });
    }).fail(function(jqxhr, textStatus, error) {
      console.error('Failed to load manifest:', textStatus, error);
    });
  });
</script>
